<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.bachtalia.bachtaliaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bachtalia Terminkalender"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">
        <activity android:name="de.bachtalia.bachtaliaapp.LoginAndMain.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.bachtalia.bachtaliaapp.LoginAndMain.MainActivity" />
        <activity android:name="de.bachtalia.bachtaliaapp.Events.ListAndDetails.EventsListActivity" />
        <activity android:name="de.bachtalia.bachtaliaapp.PackinglistDatabase.PackingList" />
        <activity android:name="de.bachtalia.bachtaliaapp.Events.ListAndDetails.EventDetailsActivity" />
        <activity android:name="de.bachtalia.bachtaliaapp.Contact.ContactsActivity" />

    </application>

</manifest>